@import url('./_fonts.css');
@import url('./_apps.css');
@import url('./_header.css');

p {
  margin-top: 0;
  margin-bottom: 10px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.content {
  border: 4px solid #2c2a2e;
  border-end-start-radius: 7px;
  border-end-end-radius: 7px;
  padding: 10px;
  margin-bottom: 20px;
}
