.apps {
  display: grid;
  grid-gap: 20px;
}

.app {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    'img title'
    'img desc'
    'img action';
  grid-row-gap: 10px;
  grid-column-gap: 30px;
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  padding: 10px;
  border-radius: 5px;
}

.app__img {
  width: 350px;
  grid-area: img;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.app__title {
  height: fit-content;
  grid-area: title;
  padding-top: 2px;
  font-family: 'Ruslan Display';
  font-size: 1.2rem;
  letter-spacing: 0.5px;
  color: #5f6e8f;
}

.app__title_accent {
  color: #768195;
  font-size: 0.9rem;
  letter-spacing: 0px;
}

.app__desc {
  grid-area: desc;
  font-family: 'Neucha';
  color: #444e62;
  font-weight: 500;
  font-size: 0.95rem;
  letter-spacing: 2px;
  line-height: 1.2;
}

.app__action {
  display: grid;
  grid-template-columns: 1fr 1fr 100%;
  grid-area: action;
  justify-content: start;
  align-items: start;
  align-items: end;
  margin-bottom: 2px;
}

.app__btn {
  white-space: nowrap;
  width: fit-content;
  color: #ffffff;
  padding: 5px 7px 3px 7px;
  font-family: 'Ruslan Display';
  font-size: 0.7rem;
  letter-spacing: 0.5px;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s ease;
  box-shadow: 0px 0px 5px 2px rgba(34, 60, 80, 0.2);
}

.app__btn_site {
  background-color: rgb(246, 73, 107);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.app__btn_code {
  background-color: rgb(94, 127, 144);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.app__btn:hover {
  background-color: rgb(51, 167, 119);
}

.app__btn:active {
  background-color: rgb(0, 160, 72);
}

@media (max-width: 800px) {
  .app__img {
    width: 200px;
  }
}

@media (max-width: 768px) {
  .app {
    display: grid;
    grid-template:
      'title'
      'img'
      'desc'
      'action';
    grid-gap: 20px;
  }

  .app__img {
    width: 100%;
  }

  .app__title {
    margin-left: 3px;
    font-size: 1.05rem;
  }

  .app__title_accent {
    font-size: 0.75rem;
  }

  .app__desc {
    margin: 0 7px;
    font-size: 0.85rem;
  }
}
